@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
#nodeinfo, #edgeinfo {
    float: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vw; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
}

/* Modal Content */
.modal-content {
    background-color: #575757;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80vw;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

canvas {
    z-index: 0;
    background-color: #222222;
    width: 3000;
    height: 3000;
}

#key {
    z-index: 2;
    width: 20vw;
}

.e {
    color: #a12020;
}

.f {
    color: #5bd149;
}

.g {
    color: #c849d1;
}

.h {
    color: #00b7ff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');




body {
    user-select: none;
    height: 100%;
    background: #222222;
    font-family: "Roboto Mono";
    color: white;
}

button {
    margin: 2px;
    font-family: 'Roboto Mono';
    font-size: 14;
    border-radius: 5px;
    border: 2px solid darkcyan;
    color: lightgray;
    background-color: #222222;
    transition: background 200ms, color 200ms;

}



button:hover {
    background-color: #444444;
    color: white;
}

ol {
    list-style-type: none;
}

select, option {
    margin: 2px;
    font-family: 'Roboto Mono';
    font-size: 14;
    border-radius: 5px;
    border: 2px solid darkcyan;
    color: lightgray;
    background-color: #222222;
    transition: background 200ms, color 200ms;

}



select:hover, option:hover {
    background-color: #444444;
    color: white;
}

input {
    margin: 2px;
    font-family: 'Roboto Mono';
    font-size: 14;
    border-radius: 5px;
    border: 2px solid darkcyan;
    color: lightgray;
    background-color: #222222;
    transition: background 200ms, color 200ms;

}



input:hover {
    background-color: #444444;
    color: white;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
details[close] summary ~ * {
  animation: sweep .5s ease-in-out;
  animation-direction: reverse;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(0px)}
  100%  {opacity: 1; transform: translateY(10px)}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0x;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkcyan;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkcyan;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}